@page "/"

<div class="container">
    <div class="main-screen">
        <SiteHeader />

        <div class="bit-team-container">
            <div class="bit-team-content">

                <h1 class="bit-team-title"> Bit Team </h1>

                <h3 class="bit-team-subtitle"> A digital innovation company </h3>

                <p class="bit-team-description">
                    Baseflow is a digital innovation company with software development at its core. We help out our customers
                    innovate with designing and building their digital products efficiently with our
                    Agile mindset and lean processes.
                </p>

                <button class="button-primary">See Our Showcases</button>
            </div>

            <div class="bit-team-image-wrapper">
                <img src="/images/home/mobile_case.png" />
            </div>
        </div>

    </div>

    <div class="page-section">
        <div class="our-projects-section">
            <div class="our-projects-header-wrapper">
                <TitleBox TitleText="Our projects" BottomLineLeftStyle="25.65%" />
            </div> 

            <div class="embla" id="embla">
                <div class="embla__container">
                    <div class="embla__slide">
                        <div class="our-projects-container">
                            <div class="our-projects-image-wrapper">
                                <img src="/images/home/our_projects.png" />
                            </div>
                            <div class="our-projects-content">
                                <h3 class="our-projects-subtitle">
                                    DorDash / Fod delivry app
                                </h3>
                                <p class="our-projects-description">
                                    DoorDash is a technology company that connects people with the best in their cities. They do this by empowering
                                    local businesses and in turn, generate new ways for people to earn, work and live. They started by facilitating
                                    door-to-door delivery, but They see this as just the beginning of connecting people with possibility — easier
                                    evenings, happier days, bigger savings accounts, wider nets and stronger.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide">
                        <div class="our-projects-container">
                            <div class="our-projects-image-wrapper">
                                <img src="/images/home/our_projects.png" />
                            </div>
                            <div class="our-projects-content">
                                <h3 class="our-projects-subtitle">
                                    DorDash2 / Food delvery ap2
                                </h3>
                                <p class="our-projects-description">
                                    DoorDash is a technology company that connects people with the best in their cities. They do this by empowering
                                    local businesses and in turn, generate new ways for people to earn, work and live. They started by facilitating
                                    door-to-door delivery, but They see this as just the beginning of connecting people with possibility — easier
                                    evenings, happier days, bigger savings accounts, wider nets and stronger.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide">
                        <div class="our-projects-container">
                            <div class="our-projects-image-wrapper">
                                <img src="/images/home/our_projects.png" />
                            </div>
                            <div class="our-projects-content">
                                <h3 class="our-projects-subtitle">
                                    DorDash3 / Food dlivery ap3
                                </h3>
                                <p class="our-projects-description">
                                    DoorDash is a technology company that connects people with the best in their cities. They do this by empowering
                                    local businesses and in turn, generate new ways for people to earn, work and live. They started by facilitating
                                    door-to-door delivery, but They see this as just the beginning of connecting people with possibility — easier
                                    evenings, happier days, bigger savings accounts, wider nets and stronger.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-arrows-wrapper">
                <span class="next-slide" id="arrowNextSlide">
                    <svg width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M29.6562 7.14391C29.6559 7.14355 29.6556 7.14313 29.6552 7.14276L23.5319 0.852437C23.0732 0.381207 22.3312 0.382961 21.8746 0.85655C21.418 1.33008 21.4198 2.09599 21.8785 2.56728L25.9897 6.79051H1.17184C0.524618 6.79051 -3.05176e-05 7.33208 -3.05176e-05 8.00018C-3.05176e-05 8.66829 0.524618 9.20986 1.17184 9.20986H25.9896L21.8786 13.4331C21.4198 13.9044 21.4181 14.6703 21.8746 15.1438C22.3313 15.6175 23.0733 15.6191 23.532 15.1479L29.6552 8.8576C29.6556 8.85724 29.6559 8.85682 29.6563 8.85645C30.1153 8.38359 30.1138 7.6152 29.6562 7.14391Z" fill="#1C5BFF" />
                    </svg>
                </span>
                <span id="arrowPrevSlide">
                    <svg width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.343724 8.85645C0.344074 8.85682 0.344374 8.85723 0.344784 8.8576L6.46807 15.148C6.9268 15.6192 7.66877 15.6174 8.12539 15.1438C8.58195 14.6703 8.58019 13.9044 8.12146 13.4331L4.01029 9.20986H28.8281C29.4754 9.20986 30 8.66828 30 8.00018C30 7.33207 29.4754 6.7905 28.8281 6.7905H4.01035L8.12141 2.56728C8.58014 2.09598 8.58189 1.33008 8.12533 0.856549C7.66871 0.382901 6.92668 0.381267 6.46801 0.852437L0.344724 7.14277C0.344374 7.14312 0.344074 7.14355 0.343664 7.14392C-0.115297 7.61678 -0.113832 8.38516 0.343724 8.85645Z" fill="#1C5BFF" />
                    </svg>
                </span>
            </div>

            <div class="see-our-showcases-button-wrapper">
                <button class="button-primary">See Our Showcases</button>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="what-we-do-section">
            <div class="what-we-do-title-wrapper-independent">
                <TitleBox TitleText="What we do?" BottomLineLeftStyle="64.8%" />
            </div>

            <div class="what-we-do">
                <div class="md-hidden">
                    <div class="images-container">
                        <div class="col col1">
                            <div class="what-we-do-image image-placeholder"></div>
                            <WhatWeDoImage ImageSrc="/images/home/web_development.png?v2" ImageBottomText="Web Development" />
                            <WhatWeDoImage ImageSrc="/images/home/backend_development.png?v1" ImageBottomText="Backend Development" />
                        </div>
                        <div class="col col2">
                            <WhatWeDoImage ImageSrc="/images/home/mobile_development.png?v2" ImageBottomText="Mobile Development" />
                            <WhatWeDoImage ImageSrc="/images/home/artificial_intelligence.png?v2" ImageBottomText="Artificial Intelligence" />
                            <WhatWeDoImage ImageSrc="/images/home/support.png?v2" ImageBottomText="Support" />
                        </div>
                        <div class="col col3">
                            <WhatWeDoImage ImageSrc="/images/home/game_development.png?v2" ImageBottomText="Game Development" />
                            <WhatWeDoImage ImageSrc="/images/home/ui_ux_design.png?v2" ImageBottomText="UI/UX Design" />
                            <WhatWeDoImage ImageSrc="/images/home/cloud.png?v2" ImageBottomText="Cloud" />
                        </div>
                    </div>


                </div>

                <div class="md-visible">
                    <div class="images-container">
                        <div class="col col1">
                            <WhatWeDoImage ImageSrc="/images/home/support.png?v2" ImageBottomText="Support" />
                            <WhatWeDoImage ImageSrc="/images/home/cloud.png?v2" ImageBottomText="Cloud" />
                        </div>
                        <div class="col col2">
                            <WhatWeDoImage ImageSrc="/images/home/web_development.png?v2" ImageBottomText="Web Development" />
                            <WhatWeDoImage ImageSrc="/images/home/backend_development.png?v1" ImageBottomText="Backend Development" />
                        </div>
                        <div class="col col3">
                            <WhatWeDoImage ImageSrc="/images/home/mobile_development.png?v2" ImageBottomText="Mobile Development" />
                            <WhatWeDoImage ImageSrc="/images/home/artificial_intelligence.png?v2" ImageBottomText="Artificial Intelligence" />

                        </div>
                        <div class="col col4">
                            <WhatWeDoImage ImageSrc="/images/home/game_development.png?v2" ImageBottomText="Game Development" />
                            <WhatWeDoImage ImageSrc="/images/home/ui_ux_design.png?v2" ImageBottomText="UI/UX Design" />
                        </div>
                    </div>
                </div>

                <div class="content-container">
                    <div class="what-we-do-title-wrapper-beside-others">
                        <TitleBox TitleText="What we do?" BottomLineLeftStyle="64.8%" />
                    </div>

                    <p class="what-we-do-description">
                        Our client relationships go beyond technology.
                        <br />
                        Enthusiasts to the core, we bring real solutions
                        to each client’s problems through a deep understanding of their market, solution, and vision.
                    </p>

                    <div class="services-button-wrapper">
                        <button class="button-primary">Services</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section">
        <div class="who-are-we-section">
            <div class="what-are-we-title-wrapper-independent">
                <TitleBox TitleText="Who are we?" BottomLineLeftStyle="30%" />
            </div>

            <div class="who-are-we-container">
                <div class="who-are-we-content">
                    <div class="what-are-we-title-wrapper-independent-beside-others">
                        <TitleBox TitleText="Who are we?" BottomLineLeftStyle="30%" />
                    </div>
                    <p class="who-are-we-description">
                        I did not find any suitable text for this part, so I had to write this nonsense.I did not
                        find any suitable text for this part, so I had to write this nonsense.I did not find
                        any suitable text for this part, so I had to write this nonsense.I did not find
                        any suitable text for this part, so I had to write this nonsense.
                    </p>
                </div>
                <div class="who-are-we-img-wrapper">
                    <img src="/images/home/team.png" class="who-are-we-img" />
                </div>
            </div>

            <div class="meet-our-team-button-wrapper">
                <button class="button-primary">Meet Our Team</button>
            </div>
        </div>
    </div>

    <div class="page-section last">
        <div class="customers-section">
            <div class="customers-header-wrapper">
                <TitleBox TitleText="Customers" BottomLineRightStyle="21%" />
            </div>
            <div class="the-customers-wrapper">
                <div>
                    <Customer ImageSrc="/images/home/fynch.png" CustomerName="Fynch" />
                </div>
                <div>
                    <Customer ImageSrc="/images/home/airbnb.png" CustomerName="AirBnb" />
                </div>
                <div>
                    <Customer ImageSrc="/images/home/tue.png" CustomerName="TU Eindhoven" />
                </div>
                <div class="customer-microsoft">
                    <Customer ImageSrc="/images/home/microsoft.png" CustomerName="Microsoft" />
                </div>
            </div>
        </div>
    </div>
</div>

<ContactUs />
