@import '../Shared/Styles/_shared.scss';

.container {
    width: 100%;
    max-width: rem(1440px);
    margin: auto;
}

.main-screen {
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .header-container {
        margin-top: 0;
    }

    .bit-team-container {
        width: 66.6%;
        margin: auto;
        margin-bottom: em(90px);
        display: flex;

        @include lt-lg {
            width: 83.3%;
        }

        .bit-team-content {
            width: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 25px;
            margin-bottom: 40px;

            .bit-team-title {
                @include titleText(black);
                margin-left: rem(5px);
                margin-bottom: rem(10px)
            }

            .bit-team-subtitle {
                @include subtitleText(black);
                margin-right: rem(20px);
            }

            .bit-team-description {
                @include descriptionText($colorDescriptionTextSecondary);
                width: 83.3%;
            }

            .button-primary {
                margin-top: em(40px);
            }
        }

        .bit-team-image-wrapper {
            width: 25%;

            @include lt-lg {
                display: flex;
                align-items: center;
            }

            @include sm {
                width: 20%;
                justify-content: flex-end;
            }

            img {
                @include lg {
                    width: rem(186px);
                }

                @include lt-lg {
                    width: rem(134px);
                }
            }
        }
    }
}

.page-section {
    width: 83.3%;
    margin: rem(200px) auto rem(280px) auto;

    @include lt-xl {
        margin: rem(150px) auto rem(230px) auto;
    }

    @include sm {
        margin: rem(100px) auto rem(130px) auto;
    }
}

.page-section.last {
    margin-bottom: rem(140px);

    @include lt-xl {
        margin-bottom: rem(115px);
    }

    @include sm {
        margin-bottom: rem(65px);
    }
}

.our-projects-section {
    display: flex;
    flex-direction: column;

    .our-projects-header-wrapper {
        text-align: center;
        margin-bottom: em(45px);

        @include lg {
            width: 70%;
        }

        @include sm {
            margin-bottom: rem(20px);
        }
    }

    .our-projects-container {
        display: flex;
        flex-direction: row;
        margin-bottom: rem(67px);

        @include lt-lg {
            flex-direction: column;
        }

        .our-projects-image-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: rem(94px);

            @include lt-lg {
                width: 100%;
                margin-bottom: rem(34px);
            }

            img {
                width: rem(505px);
                height: rem(343px);

                @include md {
                    width: 80%;
                    margin: auto;
                    height: auto;
                }

                @include sm {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .our-projects-content {
            width: 50%;
            display: flex;
            flex-direction: column;

            @include lt-lg {
                width: 100%;
            }

            .our-projects-subtitle {
                @include subtitleText(black);
            }

            .our-projects-description {
                @include descriptionText($colorDescriptionTextSecondary);
                line-height: rem(35px);
            }
        }
    }

    .see-our-showcases-button-wrapper {
        text-align: center;
    }
}

.what-we-do-section {
    display: flex;
    flex-direction: column;

    .what-we-do-title-wrapper-independent {
        display: none;
        margin-bottom: rem(34px);

        @include lt-xl {
            display: flex;
            justify-content: center;
        }

        @include md {
            justify-content: flex-start;
        }
    }

    .what-we-do {
        display: flex;
        flex-direction: row;
        align-content: stretch;

        @include lt-lg {
            flex-direction: column;
        }

        .md-hidden {
            width: 50%;

            @include sm {
                width: 100%;
            }
        }

        .images-container {
            display: flex;
            justify-content: space-between;

            div.col {
                display: flex;
                flex-direction: column;
                width: 28%;

                @include sm {
                    width: 30%;
                }

                .what-we-do-image {
                    width: rem(176px);
                    height: rem(163px);
                    background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    margin-bottom: rem(30px);

                    @include lt-xl {
                        width: 100%;
                        height: auto;
                        margin-bottom: rem(20px);
                    }

                    @include sm {
                        margin-bottom: rem(15px);
                    }
                }

                .image-placeholder {
                    background-color: transparent;
                    visibility: hidden;

                    @include lg {
                        height: rem(118px);
                    }

                    @include sm {
                        height: rem(84px);
                    }
                }
            }

            .col1, .col3 {
                justify-content: flex-start;
                margin-bottom: em(60px);
            }

            .col2 {
                justify-content: flex-end;
            }
        }

        .md-visible {
            .images-container {
                .col {
                    width: 22.65%;
                }

                .col1 {
                    margin-top: rem(279px);
                }

                .col2 {
                    margin-top: rem(186px);
                    justify-content: flex-start;
                }

                .col3 {
                    margin-top: rem(93px);
                }

                .col4 {
                }
            }
        }

        .content-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: em(66px);

            @include lt-lg {
                width: 100%;
                margin-left: 0;
                margin-top: rem(20px);
            }

            .what-we-do-title-wrapper-beside-others {
                display: flex;

                @include lt-xl {
                    display: none;
                }
            }

            .what-we-do-description {
                @include descriptionText($colorDescriptionTextPrimary);
                margin-top: rem(-5px);
                line-height: rem(35px);

                @include md {
                    margin-bottom: rem(60px);
                }

                @include sm {
                    margin-bottom: rem(40px);
                }
            }

            .services-button-wrapper {
                @include lt-lg {
                    text-align: center;
                }
            }
        }
    }
}

.who-are-we-section {
    display: flex;
    flex-direction: column;

    .what-are-we-title-wrapper-independent {
        display: none;

        @include lt-xl {
            display: flex;
            justify-content: flex-start;
            margin-bottom: rem(20px);
        }

        @include md {
            justify-content: center;
            margin-bottom: 0;
        }
    }

    .who-are-we-container {
        display: flex;
        flex-direction: row;

        @include lt-lg {
            flex-direction: column;
        }

        .who-are-we-content {
            width: 50%;
            display: flex;
            flex-direction: column;

            @include lt-lg {
                width: 100%;
            }

            .what-are-we-title-wrapper-independent-beside-others {
                display: block;

                @include lt-xl {
                    display: none;
                }
            }

            .who-are-we-description {
                @include descriptionText(black);
                line-height: rem(35px);
            }
        }

        .who-are-we-img-wrapper {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: rem(45px);

            @include lt-lg {
                width: 80%;
                margin: auto;
                margin-top: rem(30px);
            }

            @include sm {
                width: 100%;
            }

            .who-are-we-img {
                margin-left: em(30px);

                @include lg {
                    max-height: rem(255px);
                }

                @include sm {
                    margin-left: 0;
                }
            }
        }
    }

    .meet-our-team-button-wrapper {
        text-align: center;
        margin-top: em(100px);
    }
}

.customers-section {
    display: flex;
    flex-direction: column;
    height: rem(543px);
    justify-content: space-between;

    @include lt-xl {
        height: rem(417px);
    }

    @include sm {
        height: 268px;
    }

    .customers-header-wrapper {
        text-align: center;
    }

    .the-customers-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .customer-microsoft {
            @include sm {
                display: none;
            }
        }
    }
}