@import '_mixins.scss';

// Shared Styles

@font-face {
    font-family: 'Axiforma';
    src: url('/font/Axiforma/woff2/Kastelov - Axiforma Regular.woff2') format('woff2'), 
        url('/font/Axiforma/woff/Kastelov - Axiforma Regular.woff') format('woff'),
        url('/font/Axiforma/otf/Kastelov - Axiforma Regular.otf');
}

@font-face {
    font-family: 'Axiforma';
    src: url('/font/Axiforma/woff2/Kastelov - Axiforma Medium.woff2') format('woff2'),
        url('/font/Axiforma/woff/Kastelov - Axiforma Medium.woff') format('woff'),
        url('/font/Axiforma/otf/Kastelov - Axiforma Medium.otf');
    font-weight: 500; //Medium
}

@font-face {
    font-family: 'Axiforma';
    src: url('/font/Axiforma/woff2/Kastelov - Axiforma Bold.woff2') format('woff2'),
        url('/font/Axiforma/woff/Kastelov - Axiforma Bold.woff') format('woff'),
        url('/font/Axiforma/otf/Kastelov - Axiforma Bold.otf');
    font-weight: bold; //700
}

@font-face {
    font-family: 'Axiforma';
    src: url('/font/Axiforma/woff2/Kastelov - Axiforma SemiBold.woff2') format('woff2'), 
        url('/font/Axiforma/woff/Kastelov - Axiforma SemiBold.woff') format('woff'),
        url('/font/Axiforma/otf/Kastelov - Axiforma SemiBold.otf');
    font-weight: 600; //Semi-Bold
}

@font-face {
    font-family: 'Axiforma';
    src: url('/font/Axiforma/woff2/Kastelov - Axiforma Medium Italic.woff2') format('woff2'), 
        url('/font/Axiforma/woff/Kastelov - Axiforma Medium Italic.woff') format('woff'), 
        url('/font/Axiforma/otf/Kastelov - Axiforma Medium Italic.otf');
    font-style: italic; //Medium-Italic
}

.md-hidden {
    display: block;

    @include md {
        display: none;
    }
}

.md-visible {
    display: none;

    @include md {
        display: block;
    }
}

.sm-hidden {
    display: block;

    @include sm {
        display: none;
    }
}

.sm-visible {
    display: none;

    @include sm {
        display: block;
    }
}


img {
    border-radius: rem(10px);
}

.button-primary {
    @include primaryButton();
}

.subtitle {
    @include subtitleText($colorSubTitle);
}

.description {
    @include descriptionText($colorDescriptionTextPrimary);
}

.description-lg {
    @include descriptionText();
    font-size: 1.25em;
    line-height: rem(48px);
}

.description-md {
    @include descriptionText();
    font-size: 1rem;
}
