@using System.ComponentModel.DataAnnotations
<div class="component-wrapper">
    <h5 class="start"> START </h5>

    <TitleBox TitleText="Work with us" />

    <div id="contactUsForm" class="form-wrapper">
        <form action="/api/send-message" method="post">
            <div class="form-row">
                <div class="input-wrapper">
                    <label for="name" class="text-label"> Name * </label>
                    <input id="name" type="text" class="textbox" />
                </div>

                <div class="input-wrapper">
                    <label for="email" class="text-label"> Email * </label>
                    <input id="email" type="email" class="textbox" />
                </div>
            </div>
              
            <div class="form-row">
                <div class="input-wrapper about-project">
                    <label for="about" class="text-label"> Tell Us About Your Project </label>
                    <textarea id="about" class="textarea-input" rows="5"></textarea>
                </div>
            </div>


            <div class="form-button-wrapper">
                <button type="submit" class="button-primary">Send</button>
            </div>
        </form>
    </div>
</div>

@code {
    MessageDto _message = new();

    public class MessageDto
    {
        [Required]
        public string Name { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        public string AboutProject { get; set; }
    }

}