<div class="page-links-wrapper">
    <a href="#" class="page-link">Cases</a>
    <a href="#" class="page-link">Services</a>
    <a href="#" class="page-link">About</a>
    <a href="#contactUsForm" class="page-link">
        <div class="button-primary contact-us">Contact Us</div>
    </a>
</div>