<div class="what-we-do-image-wrapper">
    <img class="what-we-do-image" src="@ImageSrc" title="@ImageBottomText" />
    <div>
        <span> @ImageBottomText </span>
    </div>
</div>

@code {
    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string ImageBottomText { get; set; }
}