/// Global Variables

// Colors
$colorPrimary: #1C5BFF; //blue
$colorSecondary: #FFB545; //orange
$colorOnHover: #FF5D00; //accent
$colorSubTitle: #233184; //blue-dark
$colorDescriptionTextPrimary: black;
$colorDescriptionTextSecondary: #404040; //gray

// Fonts
$fontPrimary: Axiforma;



