<div class="header-container">
    <img class="logo" src="/images/shared/bit_logo.png" />
    <div class="page-links-wrapper">
        <a href="#" class="page-link">Cases</a>
        <a href="#" class="page-link">Services</a>
        <a href="#" class="page-link">About</a>
        <a href="#" class="page-link">Contact Us</a>
    </div>
</div>
   
@code {

}